@tailwind base;
@tailwind components;
@tailwind utilities;

font-face {
  font-family: "Neue Machina";
  src: url("../public/fonts/NeueMachina-Medium.woff") format("woff2");
  font-weight: 500;
  font-style: normal;
}
font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/helvetica/Helvetica.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/helvetica/Helvetica-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
}

font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/helvetica/Helvetica-Light.ttf") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
